<% @article.comments.each do |comment| %>
  <strong> <%= comment.commenter %> </strong>
  <p> <%= comment.body %> </p> 
  <%=link_to "Delete Comment", [comment.article, comment],method: :delete, data: {confirm: "Delete Comment ?"}%>
  <br/>
<%end%>