<html>
  <head>
    <title>Blog Site</title>
  </head>
  <body>
    <h1>All Blog </h1>
    <% @articles.each do |article| %>
      <tr>
        <td>Title : <%= article.title %></td><br/>
        <td>Text : <%= article.text[0...10] %>...</td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <br/><br/><br/>
      </tr>
    <% end %>
    <%=link_to "Got to Welcome Page" , welcome_index_path %>
  </body>
</html>