<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>

</p>

<br>

<%= link_to 'Edit Blog', edit_article_path%>
<br/>
<%= link_to 'Delete Blog', @article , method: :delete, data: {confirm: "Are you sure ? "}%>
<br/>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Back', articles_path %>
